      <div class="boxes" ng-controller="BoxesCtrl">
        <div class="title">
          <span>Boxes</span>
          <%= render 'boxes/controls' %>
        </div>
        <div class="content">
          <%= render 'boxes/list' %>
          <%= render 'boxes/form' %>
        </div>
      </div>
