          <span class="additional">
            &nbsp;|&nbsp;<a class="link pack" ng-click="pack()">PACK!</a>
            &nbsp;|&nbsp;Last request: <span class="message">{{message}}</span>
          </span>
