      <div class="packs" ng-controller="PacksCtrl">
        <div class="title">
          <span>Packs</span>
          <%= render 'packs/controls' %>
        </div>
        <div class="content">
          <%= render 'packs/list' %>
        </div>
      </div>
