      <div class="products" ng-controller="ProductsCtrl">
        <div class="title">
          <span>Products</span>
          <%= render 'products/controls' %>
        </div>
        <div class="content">
          <%= render 'products/list' %>
          <%= render 'products/form' %>
        </div>
      </div>
